<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="nav-links">
                <div>
                    <a href="/client/home.html">Home</a>
                    <a href="">Let's Play!</a>
                </div>
                <div>
                    <a href="/client/components/login/login.html">Login</a>
                    <a href="/client/components/register/register.html" class="btn">Register</a>
                </div>
            </div>
        </nav>
        <h1>Login</h1>
        <p id="message"></p>
        <form action="http://localhost:3000/login"" method="POST">
            <div>
                <label for="login">Login</label>
                <input type="text" id="login" name="login" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>    
            <!-- <button type="submit">Login</button>            -->
            <input 
                id="post-btn" 
                type="submit" 
                value="Login"
            >
        </form>
        <p>You don't have an account? Go <a href="/client/components/register/register.html" class="btn">Register</a></p>  
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="login.js" defer></script>
</body>
</html>