
/* Single Player CSS */
.grid {
    width: 99vw;
    height: 88vh;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}


.grid div {
    padding: 10px;
    border: 1px solid #B8C5D6
}

.player {
    background: #5998C5;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
			0 5px 5px rgba(0,0,0,0.22);
    grid-row-start: 1;
    grid-row-end: 4;
}


.player1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5; 
}


.player2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 9; 
}


.player3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 9;
    grid-column-end: 13; 
}


.num-of-dices {
    width: auto;
    text-align: center;
    margin: 15px;
}

.move {
    position: relative;
    top: 20%
}


.backlog {
    grid-column-start: 14;
    grid-column-end: 19;
    grid-row-start: 1;
    grid-row-end: 11;
    background-color: white;
}

.backlog-multi {
    grid-column-start: 13;
    grid-column-end: 19;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: white;
}


.main-player {
    grid-row-start: 4;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 5;
}


.staking-table {
    grid-row-start: 4;
    grid-row-end: 11;
    grid-column-start: 5;
    grid-column-end: 13;
}

.chat-in-game {
    grid-column-start: 13;
    grid-column-end: 19;
    grid-row-start: 6;
    grid-row-end: 10;
    background-color: white;
}

.input-message-multi {
    grid-column-start: 13;
    grid-column-end: 19;
    grid-row-start: 10;
    grid-row-end: 11;
}

/* table-staking grid */
.grid-table {
    display: grid;
    height: 95%;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    overflow: hidden;
    overflow-x: scroll;
}


.column {
    background: #1D263B;
    color: #fff;
    border-radius: 4px;
}

.staking-btn {
    width: 100%;
    height: 15%;
    margin: 0;
    background: #5998C5;
    color: #fff;
    padding: 8px 30px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.staking-btn:hover {
    background: #E1BC29;
    color: #454545;
    font-weight: bold;
}


.staking-header {
    text-align: center;
    margin-bottom: 5px;
}

.nickname {
    text-align: center;
    margin-bottom: 5px;  
}


/* main player */
.dices {
    display: flex;
    height: 25%;
    width: 100%;
    margin: 0;
    background: #5998C5;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
			0 5px 5px rgba(0,0,0,0.22);
}


.dice {
    background-color: white;
    width: 18.7%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    margin: 2px;
    color: black;
    line-height: 90%;
}


.decide {
    margin: 35px 0 35px 0;
    height: 20%;
}


.decide button {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #1D263B;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}


.decide button:hover {
    background: #fff;
    color: #1D263B;  
}

.statement {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
			0 5px 5px rgba(0,0,0,0.22);
}

.statement h3 {
    text-align: center;
    color: red;
    font-size: 26px;
}


/* game logging */
.backlog, .backlog-multi {
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
			0 5px 5px rgba(0,0,0,0.22);
    overflow: hidden;
    overflow-y: scroll;
}

.chat-in-game {
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
			0 5px 5px rgba(0,0,0,0.22);
    overflow: hidden;
    overflow-y: scroll;
}

.backlog, .backlog-multi p {
    font-weight: bold;
}


.backlog, .backlog-multi ul {
    margin-left: 5%;
}


.backlog, .backlog-multi li {
    font-size: 20px;
    margin: 5px;
    text-align: center;
}

.sp-player {
    color: green;
    font-weight: bold;
}

.sp-dices {
    color: blue;
    font-weight: bold;
}

.sp-round {
    color: violet;
    font-weight: bold;
}

.singular {
    color: crimson;
    font-weight: bold;
}

.plural {
    color: darkorange;
    font-weight: bold;
}

.input-message-multi {
    display: flex;
}

#chat-message-multi {
    width: 100%;
    height: 100%;
    margin: 2px;
    border-bottom: 1px solid;
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
			0 5px 5px rgba(0,0,0,0.22);
}

#chat-message-btn-multi {
    cursor: pointer;
    width: auto;
    height: 100%;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
			0 5px 5px rgba(0,0,0,0.22);
}