
/* Single Player CSS */
.grid {
    width: 99vw;
    height: 88vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3fr 7fr;
    gap: 10px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}


.grid div {
    padding: 10px;
    border: 1px solid #B8C5D6
}

.player {
    background: #5998C5;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
			0 5px 5px rgba(0,0,0,0.22);
}


.player1 {
    grid-column-start: 1;
    grid-column-end: 4; 
}


.player2 {
    grid-column-start: 4;
    grid-column-end: 7; 
}


.player3 {
    grid-column-start: 7;
    grid-column-end: 10; 
}


.num-of-dices {
    width: auto;
    text-align: center;
    margin: 15px;
}

.last-move {
    margin: 35px 5px 35px 5px;
}


.backlog {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
}


.main-player {
    grid-column-start: 1;
    grid-column-end: 5;
}


.staking-table {
    grid-column-start: 5;
    grid-column-end: 10;
}

/* table-staking grid */
.grid-table {
    display: grid;
    height: 95%;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    overflow: hidden;
    overflow-x: scroll;
}


.column {
    background: #1D263B;
    color: #fff;
    border-radius: 4px;
}

.staking-btn {
    width: 100%;
    height: 15%;
    margin: 0;
    background: #5998C5;
    color: #fff;
    padding: 8px 30px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}


.staking-header {
    text-align: center;
    margin-bottom: 5px;
}

.nickname {
    text-align: center;
    margin-bottom: 5px;  
}


/* main player */
.dices {
    height: 25%;
    width: 100%;
    margin: 0;
    background: #5998C5;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
			0 5px 5px rgba(0,0,0,0.22);
}


.dice {
    background-color: white;
    width: 18.7%;
    height: 90%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 250%;
    margin-left: 2px;
    margin-right: 2px;
    color: black;
}


.decide {
    margin: 35px 0 35px 0;
    height: 20%;
}


.decide button {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #1D263B;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}


.statement {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
			0 5px 5px rgba(0,0,0,0.22);
}

.statement h3 {
    margin: 35px 0 35px 0;
    text-align: center;
    color: red;
    font-size: 26px;
}


/* game logging */
.backlog {
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 
			0 5px 5px rgba(0,0,0,0.22);
}

.backlog p {
    font-weight: bold;
}


.backlog ul {
    margin-left: 5%;
}


.backlog li {
    font-size: 20px;
    margin: 5px;
    text-align: center;
}

.sp-player {
    color: green;
    font-weight: bold;
}

.sp-dices {
    color: blue;
    font-weight: bold;
}

.sp-round {
    color: violet;
    font-weight: bold;
}

.singular {
    color: crimson;
    font-weight: bold;
}

.plural {
    color: darkorange;
    font-weight: bold;
}