<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="register.js" defer></script>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="nav-links">
                <div>
                    <a href="/client/home.html">Home</a>
                    <a href="">Let's Play!</a>
                </div>
                <div>
                    <a href="/client/components/login/login.html">Login</a>
                    <a href="/client/components/register/register.html" class="btn">Register</a>
                </div>
            </div>
        </nav>
        <h1>Register</h1>
        <form action="http://localhost:3000/register" method="POST">
            <div>
                <label for="register">Login</label>
                <input type="text" id="login" name="login" class="login" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="password" required>
            </div>    
            <div>
                <label for="password2">Repeat Password</label>
                <input type="password" id="password2" name="password2" class="password2" required>
            </div>
            <!-- <button type="submit" id="post-btn">Register</button> -->
            <input id="post-btn" type="submit" value="Register">       
        </form>
        <p>Do you have an account? Go <a href="/client/components/login/login.html">Login</a></p>  

    </div>
</body>
</html>